<%# Übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>
<h1>FAQ</h1>
<p>
  Hier finden Sie häufig gestellte Fragen und die entsprechenden Antworten.
  Sollten weiterhin Probleme oder Unklarheiten bestehen, so wenden Sie sich bitte an die
  <%= link_to "Kontaktadresse", kontakt_path %>.
</p>