<%# Struktur übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>
<h1>Herzlich Willkommen!</h1>

<p>
  Auf dieser Seite können Sie ganz einfach das Optimierungsproblem der kapazitierten Hauptproduktionsprogrammplanung lösen.
  Klicken Sie bitte auf "Jetzt registrieren!", um sich mit Ihrem Benutzernamen zu registrieren.
</p>

<%= link_to "Jetzt registrieren!", signup_path, :class => "signup_button round" %>
<%#Linkbeschreibung übersetzt%>