<%# Übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>
<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Startseite", root_path %></li>                         <%# Linkbeschreibung übersetzt%>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>